.nav-bar {
  height: 50px;
}
.nav-bar img {
  margin-right: 15px !important;
}
.main-grid {
  position: absolute;
  height: 100%;
}
.login-container {
  background: #eff8fb;
  height: 100%;
  position: fixed;
  padding-top: 50px;
}

/*Columns*/
.run-column {
  background-color: #eff8fb;
  height: 100%;
  overflow-y: scroll;
  padding: 1em 2em !important;
}

.run-column, .big-column {
  height: 100%;
  overflow-y: scroll;
  padding: 1em 2em !important;
}

/*run*/
.run-card {
  padding: 1em !important;
}
.run-card .content {
  padding: 0px !important;
  position: relative;
}
.run-card .content .description {
  margin-bottom: 30px;
}
.run-card .content .dropdown {
  position: absolute;
  bottom: 0;
  right: 0;
}
.run-card .acuity-rating {
  text-align: center;
}
.run-card .acuity-rating .label-text {
  font-size: 0.5em;
}

.right-btn {
  position: absolute;
  right: 0px;
  padding: 10px;
}
